*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {
	background: #262D45;
	color: #ffffff;
	/*background-color: #;*/
    /*background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2387bcf1' fill-opacity='0.23' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");*/
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}

a{
	color: #ffffff;
	text-decoration: none;
}

ul{
	list-style: none;
}

.container{
	width: 90%;
	margin: auto;

}
/*Estilos de navegación*/

.nav-main{
	font-size: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	padding: 20px;
}

/*Clase del logo*/
.nav-brand{
	width: 220px;
	margin: 10px 0px 0px 10px; /*Para las posiciones*/

}

/*Nav del lado izquierdo*/

.nav-main ul{
	display: flex; /*Para colocar temas de menu uno al lado del otro*/
}

.nav-main ul li{
	padding: 9px; /*Para separar los menu un poco*/

}

.nav-main ul li a:hover{
	border-bottom: 2px solid #ffffff; /*Lineas blancas debajo de los temas de menu*/
	padding: 2px;
}
.nav-main ul.nav-menu{
	flex: 1;
	margin-left: 60px;
}

/*Button resposive*/

.btn-responsive{ 
	position: absolute;
	cursor: pointer;
	top: 15px;
	right: 30px;
	/*display: none;*/
	z-index: 2;
	font-size: 2rem;
	display: none;
}

/*hr - linea debajo del menu*/
hr{
	margin: 12px 5px;
}
/*Showcase pantalla principla desabilitado*/

.header1{
	background: #ff05054d;
	font-size: 35px;
	margin: 80px 0;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}


/*Botton de mas*/
.btn{
	cursor: pointer;
	display: inline-block;
	border: 0;
	font-weight: bold;
	padding: 10px 20px;
	background: #262626;
	color: #ffffff;
	font-size: 15px;
	border: 1px solid #fff;
	margin: 10px 0;
}

.btn:hover{
	opacity: .6;

}

.showcase h2,
.showcase p{
	margin-bottom: 3px;

}

/*News Cards*/

.newscards{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: 25px 0;
}

.newscards img{
	width: 100%;
	height: 180px;


}

.newscards h3{
	font-size: 20px;
	margin: 10px 0;
}

.newscards a{
	padding: 10px 0;
	color: #f2f2f2;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
}

.newscards a:hover{
	text-decoration: underline;
}


/*Section Cards banner 1*/

.section-cards-banner1{

	width: 100%;
	height: 350px;
	background: url(Imagenes/sectionbanner.jpeg)no-repeat center center/cover;
	margin-bottom: 3px;

}

.section-cards-banner1 .content{
	width: 30%;
	padding: 90px 0 0 30px;
	color: #ffffff;

}

/*Section Cards banner 2*/

.section-cards-banner2{

	width: 100%;
	height: 350px;
	background: url(Imagenes/sectionbanner2.jpeg)no-repeat center center/cover;
	margin-bottom: 3px;

}

.section-cards-banner2 .contenido{
	width: 30%;
	padding: 90px 0 0 30px;
	color: #ffffff;
}


/*Redes sociales*/

.Socialnetwork{
	margin: 50px;
}

.Socialnetwork p{
	text-align: center;
	font-size: 30px;
	margin-bottom: 20px;

}

/*Iconos*/

.links{
	display: flex;
	align-items: center;
	justify-content: center;
}

.links a{
	margin: 0 30px;
}

.links a i{
	font-size: 2rem;
}

/*Links del footer*/

.footer-enlaces{
	background: #2C3758;
	color: #616161;
	font-size: 12px;
	padding: 30px 0;
}

.footer-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/*background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2387bcf1' fill-opacity='0.20' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");*/
	gap: 10px;
	align-items: flex-start;
	justify-content: center;
}

.footer-container ul{
	margin: 0 auto; /*Alinear los temas del footer*/

}

.footer-container ul li{
	line-height: 2.2; /*Espaciado de los temas del footer*/
}

/*footer copyright*/
.footercopyright{
	background: #2f3640;
	color: #616161;
	font-size: 14px;
	padding: 20px 0;
	text-align: center;
	padding-bottom: 20px;
}

/*Area de adaptación a diferentes pantallas(responsive)*/

/*Responsive para pantallas de 900px*/

@media (max-width: 900px){
	.btn-responsive{
		display: block;
	}
	.nav-main ul.nav-menu{
		flex: 1;
		margin-left: 60px;
	}


	.section-cards-banner1 .content,{
		width: 100%;
		padding: 60px 0 0 20px;
	}

	.section-cards-banner2 .contenido{
		width: 100%;
		padding: 100px 0 0 50px;
		color: #ffffff;
	}



/*Responsive para pantallas de 700px*/
@media (max-width: 700px){

	.btn-responsive{
		display: block;
	}
	.nav-main ul.nav-menu{
		flex: 1;
		margin-left: 60px;
	}

	.nav-main ul.nav-menu{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: #2f3640;
		height: 100%;
		padding: 30px;
		opacity: .8;
		transform: translateX(-400px);
		/*transform: translateX(-80px);*/ /*Aposicionamiento del menu responsive*/
		transition: transform .5s ease-in-out;

	}

	.nav-main ul.nav-menu.show{
		transform: translateX(-80px);
	}

	.nav-main ul.nav-menu li{
		padding: 20px;
		font-size: 14px;
		/*border-bottom: #ccc solid 1px;*/ /*Lineas debajo de los temas de menu*/
	}

	.nav-main ul.nav-menu-right{
		margin-right: 20px;

	}

	.newscards{
		grid-template-columns: repeat(2, 1fr);
	}

	.section-cards-banner1 .content,
	.section-cards-banner2 .contenido{
		width: 100%;
	}

	.footer-enlaces .footer-container{
		 grid-template-columns: repeat( 4, 1fr);
	}


/*Responsive para pantallas de 500px*/

@media (max-width: 500px){
	.btn-responsive{
		display: block;
	}
	.nav-main ul.nav-menu{
		flex: 1;
		margin-left: 60px;
	}
	.newscards{
		grid-template-columns: 1fr;
	}

	.newscards img {
		height: 250px;
	}

	.section-cards-banner1 .content,{
		width: 100%;
		padding: 60px 20px;
	}

	.section-cards-banner2 .contenido{
		width: 100%;
		padding: 20px 0 0 20px;
		color: #ffffff;
	}

	.footer-enlaces .footer-container{
		 grid-template-columns: repeat( 2, 1fr);
	}

